<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>University Events App</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

      <!-- Latest compiled and minified CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap table -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
    <link href="ucftheme.css" rel="stylesheet">

  </head>


  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top navbar-custom">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand navbar-custom" href="/">University Events</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right"> 
            <a class="btn btn-success" href="/logout" role="button">Logout</a>
          </form>
          <p class="navbar-text navbar-right">Signed in as <%= currentUser %></p>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
          <h1>RSO List</h1>
          <p>Join RSOs or request to create one.</p>
          <p>
            <a class="btn btn-success btn-lg" href="/createRSO" role="button">Create RSO »</a>
          </p>
      </div>
    </div>

    <div class="container">

      <div class="page-header">
        <h1>RSO Table</h1>
      </div>
        
      <div class="bootstrap-table">
        <table id="rsoList" data-toggle="table"
               data-url="/rsoList"
               data-search="true"
               data-search-align="left"
               data-pagination="true"
               data-show-toggle="false">

        <div class="pull-right">  
            <button type="button" class="btn btn-lg btn-warning" id="joinRSOs">Join Selected RSOs</button>
          <p></p>
        </div>

          <thead>
            <tr>
              <th data-checkbox="true"></th>
              <th data-field="rso_id" data-visible="false"></th>
              <th data-field="rso_name" data-sortable="true">RSO</th>
              <th data-field="email" data-sortable="true">Owner</th>
              <th data-field="uni_name" data-sortable="true">University</th>
            </tr>
          </thead>
        </table>
      </div>

      <div class="page-header">
        <h1>Your RSOs</h1>
      </div>

      <div class="bootstrap-table">
        <table id="currentRsoList" data-toggle="table"
               data-url="/currentRSO"
               data-search="true"
               data-search-align="left"
               data-pagination="true"
               data-show-toggle="false">

        <div class="pull-right">  
            <button type="button" class="btn btn-lg btn-success" id="btnRemoveRSOs">Remove Selected RSOs</button>
          <p></p>
        </div>

          <thead>
            <tr>
              <th data-checkbox="true"></th>
              <th data-field="rso_id" data-visible="false"></th>
              <th data-field="rso_name" data-sortable="true">RSO</th>
              <th data-field="email" data-sortable="true">Owner</th>
              <th data-field="uni_name" data-sortable="true">University</th>
            </tr>
          </thead>
        </table>
      </div>

      <hr>

      <footer>
        <p>© University Events 2015</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Bootstrap table -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.js"></script>

    <!-- Bootstrap table extension -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/extensions/mobile/bootstrap-table-mobile.js"></script>

    <!-- AJAX calls -->
    <script src="global.js"></script>


  </body></html>


