<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>University Events App</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

      <!-- Latest compiled and minified CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

      <!-- Bootstrap table -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.css" rel="stylesheet">

    <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '119302398410008',
            xfbml      : true,
            version    : 'v2.4'
          });
        };

        (function(d, s, id){
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      </script>


    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
    <link href="ucftheme.css" rel="stylesheet">

  </head>

  <body>

      <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '119302398410008',
            xfbml      : true,
            version    : 'v2.4'
          });
        };

        (function(d, s, id){
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      </script>

    <nav class="navbar navbar-inverse navbar-fixed-top navbar-custom">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand navbar-custom" href="/">University Events</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right"> 
            <a class="btn btn-success" href="/logout" role="button">Logout</a>
          </form>
          <p class="navbar-text navbar-right">Signed in as <%= currentUser %></p>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">

          <h1>Events</h1>
          <p>View events by University or RSO.</p>

            <div class="btn-group">
            <a class="btn btn-success btn-lg" href="/createEvent" role="button" id="btnEventCreate">Create Event »</a>
            </div>
            <div class="btn-group">
            <a class="btn btn-warning btn-lg" href="/rso" role="button">View RSO List »</a>
            </div>
            <hr>
            <p class="help-block">Share to Facebook</p>
            <div class="fb-share-button" data-href="http://8715e0aa.ngrok.io" data-layout="button" style="display:inline;"></div>
      </div>
    </div>

    <div class="container">

      <div class="page-header">
        <h1>Events Table<small> click an event to view details</small></h1>
      </div>


        

      <div class="bootstrap-table">
        <table id="events"
               data-toggle="table"
               data-striped="true"
               data-url="/publicEvents"
               data-search="true"
               data-search-align="left"
               data-pagination="true"
               data-show-toggle="false">

          <div class="pull-right">
            
              <button type="button" class="btn btn-lg btn-success" id="btnJoinedEvents">Joined Events</button>
              <button type="button" class="btn btn-lg btn-warning" id="pub">Public</button>
              <button type="button" class="btn btn-lg btn-warning" id="pri">Private</button>
              <button type="button" class="btn btn-lg btn-warning" id="r">RSO</button>
              


            <p></p>

          </div>

          <thead>
            <tr>
              <th data-field="event_id" data-visible="false">ID</th>
              <th data-field="event_name" data-sortable="true">Event</th>
              <th data-field="description" data-sortable="true">Description</th>
              <th data-field="starttime" data-sortable="true">Start Date</th>
              <th data-field="category" data-sortable="true">Category</th>
              <th data-field="loc_name" data-sortable="true">Location</th>
              <th data-field="uni_name" data-sortable="true">University</th>
              <th data-field="rso_name" data-sortable="true">RSO</th>
              <th data-field="email" data-sortable="true">Hosted By</th>
              <th data-field="weekly_event" data-sortable="true">Weekly Event?</th>
              <th data-field="latitude" data-visible="false">latitude</th>
              <th data-field="longitude" data-visible="false">longitude</th>
            </tr>
          </thead>
        </table>
      </div>

      <hr>

      <footer>
        <p>© University Events 2015</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.js"></script>

    <!-- Bootstrap table extension -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/extensions/mobile/bootstrap-table-mobile.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/locale/bootstrap-table-en-US.js"></script>

    <!-- AJAX calls -->
    <script src="global.js"></script>


  </body></html>





