<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>University Events App</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

      <!-- Latest compiled and minified CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap table -->
    <link href="bootstrap-table.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
    <link href="ucftheme.css" rel="stylesheet">

  </head>

    <body>

    <nav class="navbar navbar-inverse navbar-fixed-top navbar-custom">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand navbar-custom" href="/">University Events</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right"> 
                <a class="btn btn-success" href="/logout" role="button">Logout</a>
            </form>
            <p class="navbar-text navbar-right">Signed in as <%= currentUser %></p>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <div class="jumbotron">
      <div class="container">
        <h1>Create RSO</h1>
        <p>Make a new RSO.</p>
      </div>
    </div>


    <div class="container">
        <div class="page-header">
            <!--<div class="text-center">-->
            <h1>Add RSO</h1>
            <p class="help-block">Students must have 4 other student emails with same address.</p>
            <p class="help-block">Example: '@knights.ucf.edu'</p>
        </div>
        <!--</div>-->
        <form name="register" class="form-horizontal">
            <div class="form-group">
                <label for="rsoName">RSO Name</label>
                <input type="text" class="form-control" id="rsoName" placeholder="RSO Name" autofocus="">
            </div>
            <!-- current users email populated here -->
            <div class="form-group">
                <label for="rsoAdminEmail">Your Email</label>
                <input type="email" class="form-control" id="rsoAdminEmail" value=<%= currentUser %> disabled>
                <p class="help-block">You will be an administrator for the RSO.</p>
            </div>
            <div class="form-group">
                <label for="rsoEmail2">Email 2</label>
                <input type="email" class="form-control" id="rsoEmail2" placeholder="Email 2">
            </div>
            <div class="form-group">
                <label for="rsoEmail3">Email 3</label>
                <input type="email" class="form-control" id="rsoEmail3" placeholder="Email 3">
            </div>
            <div class="form-group">
                <label for="rsoEmail4">Email 4</label>
                <input type="email" class="form-control" id="rsoEmail4" placeholder="Email 4">
            </div>
            <div class="form-group">
                <label for="rsoEmail5">Email 5</label>
                <input type="email" class="form-control" id="rsoEmail5" placeholder="Email 5">
            </div>
            <button type="button" class="btn btn-warning btn-lg btn-block" id="btnCreateRSO">Submit</button>
        </form>
    </div>


    <div class="container">

        <hr>

      <footer>
        <p>© University Events 2015</p>
      </footer>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="jquery-1.11.3.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="bootstrap.min.js"></script>

    <script src="global.js"></script>

  </body></html>



