<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>University Events App</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

      <!-- Latest compiled and minified CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!--<link href="signupstyle.css" rel="stylesheet">-->
    <link href="ucftheme.css" rel="stylesheet">
    <link href="jumbotron.css" rel="stylesheet">

  </head>

  <body>

  	<nav class="navbar navbar-inverse navbar-fixed-top navbar-custom">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand navbar-custom" href="/">University Events</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="email" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
            <!--<button type="submit" class="btn btn-success">Register</button>-->
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <div class="jumbotron">
      <div class="container">
        <h1>Registration</h1>
        <p>Sign up to view events.</p>
      </div>
    </div>


    <div class="container">
    	<div class="page-header">
    		<!--<div class="text-center">-->
  			<h1>Register now <small>all fields required</small></h1>
  		</div>
  		<!--</div>-->
  		<form name="register" class="form-horizontal">
  			<div class="form-group">
    			<label for="inputEmail1">Email address</label>
    			<input type="email" class="form-control" id="registerEmail" placeholder="Email">
  			</div>
        <div class="form-group">
          <label for="inputPassword1">Password</label>
          <input type="password" class="form-control" id="registerPassword" placeholder="Password">
        </div>
  			<div class="form-group">
          <label for="inputUniversity1">University</label>
            <select class="form-control" id="universitySelect">
            </select>
        </div>
  			<!--<div class="form-group">
  				<label for="inputAccess1">Access Level</label>
  				<select class="form-control">
  					<option>Student</option>
  					<option>Admin</option>
  					<option>Super Admin</option>
  				</select>
  				<p class="help-block">Super Admin and Admin require approval.</p>
  			</div>-->
  			<button type="button" class="btn btn-warning btn-lg btn-block" id="btnRegister">Submit</button>
  		</form>
	</div>


	<div class="container">

		<hr>

      <footer>
        <p>© Company 2014</p>
      </footer>

  	</div>
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="jquery-1.11.3.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="bootstrap.min.js"></script>

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrxZ6s2e_UEaxOFLb7yDPc748M288WGiY">
    </script>

    <script src="global.js"></script>

  </body></html>